{% extends "_layout/default.html.twig" %}

{% block content %}
  <article class="mt-24 text-center">
    <header>
      <h2 class="text-7xl mb-4">Welcome to Fides</h2>
      <span class="text-3xl text-slate-500">Your authority on authorization</span>
    </header>
  </article>
{% endblock %}
