{% extends '_layout/default.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h2 class="text-4xl text-center font-medium">Welcome to your Fides instance, {{ app.user.name }}!</h2>
{% endblock %}
